<app-navbar-sesion></app-navbar-sesion>
<!--Cuadro de ingreso-->
<div class = "container">
    <div class= "row justify-content-center pt-2 mt-2 mr-1">
        <div class="col-md-4 formulario">
            <form action="">
                <div class="form-group text-center pt-3">
                    <h1 class="text-light">Crear <br>Libro | Revista</h1>
                </div>
                <div class="form-group">
                    <font>Autor</font>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del Autor">
                </div>
                <div class="form-group">
                    <font>Titulo</font>
                    <input type="text" class="form-control" placeholder="Ingrese el titulo del libro o revista">
                </div>
                <div class="form-group">
                    <font>Edicion</font>
                    <input type="text" class="form-control" placeholder="Ingrese No. de Edicion">
                </div>
                <div class="form-group">
                    <font>Palabras Clave</font>
                    <input type="text" class="form-control" placeholder="Ingrese Palabras Clave separadas por ','">
                </div>
                <div class="form-group">
                    <font>Descripcion</font>
                    <input type="text" class="form-control" placeholder="Ingrese la Descripcion del libro o revista">
                </div>
                <div class="form-group">
                    <font>Temas</font>
                    <input type="text" class="form-control" placeholder="Ingrese los Temas separados por ','">
                </div>
                <div class="form-group">
                    <font>Copias</font>
                    <input type="text" class="form-control" placeholder="Ingrese No. de Copias">
                </div>
                <div class="form-group">
                    <font>Disponibles</font>
                    <input type="text" class="form-control" placeholder="Ingrese No. de Disponibles">
                </div>
                <div class="form-group  pt-2 mt-2 mr-1">
                    <button type="button" class="btn btn-block ingresar" data-toggle="modal" data-target="#modalCancelar">
                        CREAR
                      </button>
                      <div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="modalCancelarLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalCancelarLabel"><font color="black">Libro / Revista creado con éxito</font></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <font color="black">El Libro / Revista ha sido agregado a la base de datos exitosamente</font>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/principalLibrosRevistas']">Finalizar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group  pt-2 mt-2 mr-1">
                    <input type="submit" class="btn btn-block ingresar"  [routerLink]="['/principalLibrosRevistas']" value="CANCELAR">
                </div>
            </form>
        </div>
    </div>
</div>

